@model IEnumerable<tasky.Models.Task>

@{
    ViewBag.Title = "Task Index";
}

<h2>Task Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index","Task",FormMethod.Get))
{
    @Html.DropDownList("StatusFilter", ViewBag.StatusOptions as SelectList, "-- Filter Status --")
    @Html.DropDownList("TeamMemberFilter", ViewBag.TeamMemberOptions as SelectList, "-- Filter Team Member --")
    <input type="submit" value="Filter" />
}

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estimate_Hours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remaining_Hours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamMember)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estimate_Hours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remaining_Hours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeamMember.name)
        </td>
        <td></td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>