@model tasky.Models.Sprint

@{
    ViewBag.Title = "Create";
}

<h2>Create Sprint</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Sprint</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.title)
            @Html.ValidationMessageFor(model => model.title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.startDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.startDate)
            @Html.ValidationMessageFor(model => model.startDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.endDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.endDate)
            @Html.ValidationMessageFor(model => model.endDate)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.releaseId)
        </div>
        <div class="editor-field">
             @if (ViewBag.currentReleaseID != null)
             {
                 @Html.HiddenFor(model => model.releaseId, new { value = ViewBag.currentReleaseID });
                 @ViewBag.releaseTitle
             }
            else
            {
                @Html.DropDownListFor(model => model.releaseId, ViewBag.ReleaseOptions as SelectList, "--Filter Release--");
 
             }
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
