@model tasky.ViewModels.SprintViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Sprint Details</h2>

<fieldset>
    <legend>Sprint</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.startDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.startDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.endDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.endDate)
    </div>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

    <h3>Stories</h3>
    <div class="storyList">
        <div class="col">
            <h3>To-Do</h3>
            <div id="To-Do" class="storyCol">
                <div class="storyContainers">

                </div>
            </div>
        </div>
        <div class="col">
            <h3>In Progress</h3>
            <div id="In-Progress" class="storyCol">
                <div class="storyContainers">

                </div>
            </div>
        </div>
        <div class="col">
            <h3>Done</h3>
            <div id="Done" class="storyCol">
                <div class="storyContainers">

                </div>
            </div>
        </div>
        <div class="col">
            <h3>Accepted</h3>
            <div id="Accepted" class="storyCol">
                <div class="storyContainers">
                    
                </div>
            </div>
        </div>
    </div>
</fieldset>

@section Scripts {
    <script type="text/javascript">
        var storydata = @Html.Raw(Json.Encode(Model.stories))

        var storylist = new StoryList(storydata);

        $(document).on("ready", function() {
            var storyView = new StoryListView({items:storylist, el:$(".storyList") });
            storyView.render();

            
        });
    </script>
}

