@model tasky.Models.Sprint

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Sprint</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.startDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.startDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.endDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.endDate)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.stories)
    </div>
    <div class="display-field">
        @if(Model.stories != null) 
        {
            foreach (var story in Model.stories)
            {
                @Html.ActionLink((string)story.title, "Details", "Story", new {id = story.id}, null)
            }
        }
        else
        {
            <h3>Model.stories is null</h3>
        }
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
