@model tasky.ViewModels.SprintViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Sprint Details</h2>

<fieldset>
    <legend>Sprint</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.startDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.startDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.endDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.endDate)
    </div>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

    <div class="storyList">

        <!-- List out stories herrr using Backbone -->
    </div>
</fieldset>

@section Scripts {
    <script type="text/javascript">
        var storydata = @Html.Raw(Json.Encode(Model.stories))

        var storylist = new StoryList(storydata);

        $(document).on("ready", function() {
            var storyView = new StoryListView({items:storylist, el:$(".storyList") })
            storyView.render();
        });
    </script>
}

