@model IEnumerable<tasky.ViewModels.SprintViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Sprint Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="scroller">
    <div class="sprintIndexContainer">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="colTitle">@Html.DisplayFor(modelItem => item.title)</div>
                <div class="colDates">
                    @Html.DisplayFor(modelItem => item.startDate)
                    to
                    @Html.DisplayFor(modelItem => item.endDate)
                </div>
                <div class="colActions">
                    @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.id })
                </div>
                <div id="@item.id" class="storyContainers">

                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var sprintArray = @Html.Raw(Json.Encode(Model));
        var sprintCollection = new Backbone.Collection([]);

        _.each(sprintArray, function(items) {
            sprintCollection.add({id: items.id, sprintid: items.id, stories: new StoryList(items.stories)});

        })

        $(document).on("ready", function() {
           // console.log(sprintCollection);
            var dragview = new DragStoryBySprintView({items:sprintCollection, el:$(".sprintIndexContainer")});
            dragview.render();

            
        })
    </script>

    <script id='storyTemplate' type='text/template'>
        <% for (var i = 0; i < stories.length; i++) { %>
            <% var story = stories[i]; %>
            <div class="sortableEntry" data-id='<%= story.id %>'>
                <div class="portlet">
                    <div class="portlet-header">
                        <div class="portlet-toggle"></div>
                        <a href="/Story/Details/<%= story.id %>"><%= story.get("title") %></a>
                    </div>
                    <div class="portlet-content">
                        <div><strong>Description</strong></div>
                        <div><%= story.get("description") %></div>
                    </div>
                </div>
            </div>
        <% } %>
    </script>
}